.footer{
    background-color: #000000;
    padding-top: 80px;
}

.footer-box {
    display: flex;
    justify-content: center;
    gap: 500px;
    border-top: 3px solid #e32727;
}

.footer-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: #e32727;
    text-align: left;
    padding-top: 30px;
}